<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClickPlay | Complete Solutions For Players</title>
    <link rel="stylesheet" type="text/css" th:href="@{projekt.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link th: href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    <script th: src="https://kit.fontawesome.com/730c287bd4.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="images/logo.png" width="125px">
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="products.html">Products</a></li>
                    <li><a href="login.html">LogOut</a></li>
                </ul>
            </nav>
            <a href="cart.html"><img src="images/cart.png" width="30px" height="30px" class="cart-icon"></a>
            <img src="images/menu.png" class="menu-icon" onclick="menutoggle()">
        </div>
        <div class="row">
            <div class="col-2">
                <h1>Improve your skills!<br> A New Style!</h1>
                <p>Grow with the best equipment<br> </p>
                <a href="products.html" class="btn">Explore Now &#8594;</a>
            </div>
            <div class="col-2">
                <img src="images/florian-olivo-Mf23RF8xArY-unsplash.jpg">
            </div>
        </div>
    </div>
</div>


<!------- featured categories ----------->

<div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <img src="images/exclusivespeakers.jpg">
            </div>
            <div class="col-3">
                <img src="images/dollar-gill-pJgIf6CfVkU-unsplash.jpg">
            </div>
            <div class="col-3">
                <img src="images/maar-gaming-fG4BTSKPo3w-unsplash.jpg">
            </div>
        </div>
    </div>
</div>


<!------- featured products ----------->

<div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
        <div class="col-4">
            <a href="mouseGenesis.html"><img src="images/genesisKrypton550.jpg"></a>
            <h4>Genesis Krypton 550</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$25.00</p>
        </div>
        <div class="col-4">
            <a href="logitechGpro.html"><img src="images/logitechGpro.jpg"></a>
            <h4>Logitech G Pro</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$130.00</p>
        </div>
        <div class="col-4">
            <a href="z200logitech.html"><img src="images/z200%20logitech.png"></a>
            <h4>Logitech Z200</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>$100.00</p>
        </div>
    </div>
    <h2 class="title">Latest Products</h2>
    <div class="row">
        <div class="col-4">
            <a href="a4techBloody.html"><img src="images/a4techBloody.jpg"></a>
            <h4>A4Tech Bloody</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$60.00</p>
        </div>
        <div class="col-4">
            <a href="msivigor.html"><img src="images/msivigorGk20.jpg"></a>
            <h4>MSI Vigor GK20</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$160.00</p>
        </div>
        <div class="col-4">
            <a href="jblgo.html"><img src="images/jblgo.jpg"></a>
            <h4>JBL GO 2</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>$25.00</p>
        </div>
    </div>
</div>


<!------- offer --->


<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="images/exclusivemouse.jpg" class="offer-img">
            </div>
            <div class="col-2">
                <p>Exclusively Available on ClickPlay</p>
                <h1>Logitech G345 Lightsync</h1>
                <small style="color: black">The mouse is equipped with LIGHTSYNC technology, a sensor designed for games and a classic 6-button design. Program your own backlight from approximately 16.8 million colors.
                </small>
                <a href="logitechG345LightSync.html" class="btn">Buy now &#8594;</a>
            </div>
        </div>
    </div>
</div>

<!---------- brands ---------->
<div class="brands">
    <div class="small-container">
        <div class="row">
            <div class="col-5">
                <img src="images/logo-godrej.png">
            </div>
            <div class="col-5">
                <img src="images/logo-oppo.png">
            </div>
            <div class="col-5">
                <img src="images/logo-coca-cola.png">
            </div>
            <div class="col-5">
                <img src="images/logo-paypal.png">
            </div>
            <div class="col-5">
                <img src="images/logo-philips.png">
            </div>
        </div>
    </div>
</div>
<!---------- footer ---------->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android and IOS mobile phone</p>
                <div class="app-logo">
                    <img src="images/play-store.png">
                    <img src="images/app-store.png">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="images/logo.png">
                <p>Our Purpose Is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the Many</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Cupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow Us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>YouTube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright"></p>
    </div>
</div>
<!---------- js for toggle menu ---------->
<script>
        var MenuItems1 = document.getElementById("MenuItems");

        MenuItems1.style.maxHeight = "0px";

        function menutoggle(){
            if(MenuItems1.style.maxHeight = "0px")
                {
                    MenuItems1.style.maxHeight = "200px";
                }
            else
                {
                    MenuItems1.style.maxHeight = "0px";
                }
        }

    </script>

</body>
</html>
