<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <title>ClickPlay | Order</title>
    <link rel="stylesheet" type="text/css" th:href="@{order.css}">
    <script th: src="https://kit.fontawesome.com/730c287bd4.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="card">
        <div class="inner-box" id="card">
            <h2>Order Accepted<br><i class="fas fa-thumbs-up"></i></h2>
        </div>
    </div>
</div>
</body>

</html>