<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products - ClickPlay</title>
    <link rel="stylesheet"type="text/css" th:href="@{projekt.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link th:href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    <script th: src="https://kit.fontawesome.com/730c287bd4.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="logo">
            <img src="images/logo.png" width="125px">
        </div>
        <nav>
            <ul id="MenuItems">
                <li><a href="index.html">Home</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="login.html">LogOut</a></li>
            </ul>
        </nav>
        <a href="cart.html"><img src="images/cart.png" width="30px" height="30px" class="cart-icon"></a>
    </div>
</div>


<div class="small-container">
    <div class="row row-2">
        <h2>All Products</h2>
        <select>
            <option>Default Shorting</option>
            <option>Short by price</option>
            <option>Short by popularity</option>
            <option>Short by rating</option>
            <option>Short by sale</option>
        </select>
    </div>

    <div class="row">
        <div class="col-4">
            <a href="mouseGenesis.html"><img src="images/genesisKrypton550.jpg"></a>
            <h4>Genesis Krypton 550</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$25.00</p>
        </div>
        <div class="col-4">
            <a href="logitechGpro.html"><img src="images/logitechGpro.jpg"></a>
            <h4>Logitech G Pro</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$130.00</p>
        </div>
        <div class="col-4">
            <a href="product.html"><img src="images/nejc-soklic-g5Y5kjOwGwQ-unsplash.jpg"></a>
            <h4>JBL Xtreme 2</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>$75.00</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <a href="razerDeathAdderElite.html"><img src="images/razerDeathAdderElite.jpg"></a>
            <h4>Razer Death Adder Elite</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$55.00</p>
        </div>
        <div class="col-4">
            <a href="patriotViperV730.html"><img src="images/patriotViperV730.jpg"></a>
            <h4>Patriot Viper V730</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$150.00</p>
        </div>
        <div class="col-4">
            <a href="jblgo.html"><img src="images/jblgo.jpg"></a>
            <h4>Black Speakers</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>$75.00</p>
        </div>
    </div>
    <div class="page-btn">
        <a href="products.html"><span>1</span></a>
        <a href="products2.html"><span>2</span></a>
        <span>&#8594;</span>
    </div>
</div>
<!---------- footer ---------->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android and IOS mobile phone</p>
                <div class="app-logo">
                    <img src="images/play-store.png">
                    <img src="images/app-store.png">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="images/logo.png">
                <p>Our Purpose Is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the Many</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Cupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow Us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>YouTube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright"></p>
    </div>
</div>
<!---------- js for toggle menu ---------->
<script>
        var MenuItems1 = document.getElementById("MenuItems");

        MenuItems1.style.maxHeight = "0px";

        function menutoggle(){
            if(MenuItems1.style.maxHeight = "0px")
                {
                    MenuItems1.style.maxHeight = "200px";
                }
            else
                {
                    MenuItems1.style.maxHeight = "0px";
                }
        }

    </script>

</body>
</html>

